<div class="printable-ordem" >
    <div class="print-header">
        <img class="logo" src="{{ url_for('static', filename='./img/logo.svg', _external=True) }}" alt="logo ico">
        <div class="print-header-info">
            <h2>{{ sys_name }}</h2>
            <h5>{{ sys_info }}</h5>
            <h5>{{ sys_info2 }}</h5>
            <h5>{{ sys_info3 }}</h5>
        </div>
        <div class="print-header-os">
            <h2 class="indicator">OS</h2>
            <h3>Nº: {{ ordem.id }}</h3>
            <h5>{{ ordem.data_os }}</h5>
        </div>
    </div>
    <div class="print-cliente">
        <div class="print-cliente-basico">
            <p class="item">Tipo Ordem<span>:</span></p> <p>{{ ordem.tipo_ordem }}</p>
            
            {% if ordem.cliente.tipo_cliente == "Física" %}
                <p class="item">Nome<span>:</span></p> <p>{{ ordem.cliente.name }}</p>
            {% else %}
                <p class="item">Nome Fantasia<span>:</span></p> <p>{{ ordem.cliente.name }}</p>
                <p class="item">Razão Social<span>:</span></p> <p>{{ ordem.cliente.name }}</p>
                <p class="item">Contato<span>:</span></p> <p>{{ ordem.cliente.contato }}</p>
            {% endif %}
           
            <p class="item">Endereço<span>:</span></p> <p>{{ ordem.cliente.endereco }}</p>
            {% if ordem.cliente.email %}
                <p class="item">Email<span>:</span></p> <p>{{ ordem.cliente.email }}</p>
            {% endif%}
             
        </div>
        <div class="print-cliente-basico">
            <p class="item">Nº<span>:</span></p> <p>{{ ordem.cliente.num_endereco }}</p>
            <p class="item">Bairro<span>:</span></p> <p>{{ ordem.cliente.bairro }}</p>
            <p class="item">Cidade<span>:</span></p> <p>{{ ordem.cliente.cidade }}</p>
            <p class="item">Estado<span>:</span></p> <p>{{ ordem.cliente.estado }}</p>
            <p class="item">CEP<span>:</span></p> <p>{{ ordem.cliente.cep }}</p>
        </div>
        <div class="print-cliente-basico">
            <p class="item">Pessoa<span>:</span></p> <p>{{ ordem.cliente.tipo_cliente }}</p>
            {% if ordem.cliente.tipo_cliente == "Física" %}
                <p class="item">CPF<span>:</span></p> <p>{{ ordem.cliente.cpf }}</p>
            {% else %}
                <p class="item">CNPJ<span>:</span></p> <p>{{ ordem.cliente.cnpj }}</p>
            {% endif %}
            <p class="item">Telefone<span>:</span></p> <p>{{ ordem.cliente.telefone }}</p>
            {% if ordem.cliente.telefone2 %}
                <p class="item">Whatsapp<span>:</span></p> <p>{{ ordem.cliente.telefone2 }}</p>
            {% endif %}
            
            
        </div>
        <div class="print-cliente-outros">

        </div>
    </div>
    <div class="print-equipamento">
        <p><strong>Equipamento:</strong> {{ ordem.equipamento.name }}</p>
        <p><strong>Modelo:</strong> {{ ordem.equipamento.modelo }}</p>
        <p><strong>Marca:</strong> {{ ordem.equipamento.marca }}</p>

    </div>
    <div class="print-servico">
        <div>
            <h4>Motivo do Chamado:</h4>
            <p>{{ ordem.motivo_chamado }}</p>
        </div>
        <div>
            <h4>Constatado:</h4>
            <p>{{ ordem.desc }}</p>
        </div>
        <div>
            <h4>Serviço Executado:</h4>
            <p>{{ ordem.serv_executado }}</p>
        </div>
        <div>
            <h4>Material Utilizado:</h4>
            <p>{{ ordem.material }}</p>
        </div>
    </div>
    <div class="print-preco">
        <div class="print-preco-items">
            <p><strong>Técnico:</strong> {{sys_tec}}</p>
            <p><strong>Data do Chamado:</strong> {{ ordem.data_chamado }}</p>
        </div>
        <div class="print-preco-items">
            <p style="padding-bottom: 3px;"><strong>Valor mão de Obra:</strong> R$ {{ ordem.maod_obra }}</p>
            <p><strong>Valor Deslocamento:</strong> R$ {{ ordem.valor_visita }}</p>
        </div>
        <div class="print-preco-items">
            <p><strong>Valor Material:</strong> R$ {{ ordem.valor_material }}</p>
            <p class="total"><strong>Valor Total:</strong> R$ {{ ordem.valor_final }}</p>
        </div>
    </div>
    <div class="print-footer">
        <div class="print-footer-top">
            <p>Nome:</p>
            <p>Função:</p>
            <p>data:</p>
        </div>
        <div class="print-footer-main">
            <p>Assinatura do cliente:</p>
            <p>Assinatura do Técnico:</p>
            <p class="assinatura"> </p>
            <p class="assinatura"> </p>
        </div>
    </div>
</div>