{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block head %}
<style>
{% include 'ordem/css/print-ordem-second.css' %}

@media print {
    @page {
    size: A4 portrait; /* Define o tamanho da página como A4 no modo retrato */
    }
    body {
    margin: 1cm;
    transform: scale(1); /* Escala o body para 50% */
    transform-origin: top left;
    }
}
</style>
{% endblock%}

{% block title %}
Impressão de Ordem
{% endblock%}

{% block content %}
<main class="print-ordem">
    <div class="container print-ordem-container">
        <h1>Imprimir ordem</h1>
            <a class="btn" onclick="printDiv('printableArea')">Imprimir</a>
    </div>
</main>

<div id="printableArea">
    {% include 'ordem/print-ordem-second.html' %}
</div>

<div style="height: 200px;"></div>

<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        document.body.innerHTML += printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>


{% endblock %}