{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}

{% block head %}
<style>

    .printableArea {
        margin: 0 auto;
    }
{% if ordem.tipo_ordem == "Ordem de Serviço" %}
    {% include 'ordem/css/' + modelo + '.css' %}
{% endif %}
@media print {
    @page {
    size: A4 portrait; /* Define o tamanho da página como A4 no modo retrato */
    }
    body {
    margin: 1cm;
    transform: scale(1); /* Escala o body para 50% */
    transform-origin: top left;
    }
}
@media (max-width: 600px) {
    .add .container {
        padding: 10px;
    }
    .add .form {
        margin: 0 auto;
    }
    .add .form-elements {
        grid-template-columns: 1fr;
    }
    .printable-ordem {
        transform: scale(0.5);
        transform-origin: top left;
        margin: 0 auto;
        padding: 20px;
    }
}

@media (max-width: 400px) {
    .print-ordem-container {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}
</style>
{% endblock%}

{% block title %}
Impressão de Ordem
{% endblock%}

{% block content %}
<main class="print-ordem">
    <div class="container print-ordem-container">
        <h1>Imprimir ordem</h1>
            <div>
            <form action="" id="print-form" method="POST">
                <label for="modelo">Modelo:</label>
                <select name="modelo" id="cars" form="print-form" >
                    <option value="print-ordem-os">Os</option>
                    <option value="print-ordem-osfull">OS (Full)</option>
                </select> 
                <input type="submit" class="btn btn-less" value="Selecionar">
            </form>
            <br>
            <a class="btn" onclick="printDiv('printableArea')">Imprimir</a>
        </div>
    </div>
    
</main>

<div id="printableArea" class="printableArea">
    {% if ordem.tipo_ordem == "Ordem de Serviço" %}
        {% include 'ordem/' + modelo + '.html' %}
    {% endif %}
</div>

<div style="height: 200px;"></div>

<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }
</script>


{% endblock %}