<div class="printable-ordem" >
    <div class="print-header">
        <img class="logo" src="{{ sys_logo }}" alt="logo ico">
        <div class="print-header-info">
            <h2>{{ sys_name }}</h2>
            <h5>{{ sys_info }}</h5>
            <h5>{{ sys_info2 }}</h5>
            <h5>{{ sys_info3 }}</h5>
        </div>
        <div class="print-header-os">
            <h2 class="indicator">OS</h2>
            <h3>Nº: {{ ordem.id }}</h3>
            <h5>{{ ordem.data_os }}</h5>
        </div>
    </div>
    <div class="print-cliente">
        <div class="print-cliente-basico">
            <p class="item">Tipo Ordem<span>:</span></p> <p>{{ ordem.tipo_ordem }}</p>
            
            {% if ordem.cliente.tipo_cliente == "Física" %}
                <p class="item">Nome<span>:</span></p> <p>{{ ordem.cliente.razao_social }}</p>
                <p class="item">Nome Fantasia<span>:</span></p> <p>{{ ordem.cliente.name }}</p>
            {% else %}
                <p class="item">Razão Social<span>:</span></p> <p>{{ ordem.cliente.razao_social }}</p>
                <p class="item">Nome Fantasia<span>:</span></p> <p>{{ ordem.cliente.name }}</p>
                <p class="item">Contato<span>:</span></p> <p>{{ ordem.cliente.contato }}</p>
            {% endif %}
           
            <p class="item">Endereço<span>:</span></p> <p>{{ ordem.cliente.endereco }}</p>
            {% if ordem.cliente.email %}
                <p class="item">Email<span>:</span></p> <p>{{ ordem.cliente.email }}</p>
            {% endif%}
             
        </div>
        <div class="print-cliente-basico">
            <p class="item">Nº<span>:</span></p> <p>{{ ordem.cliente.num_endereco }}</p>
            <p class="item">Bairro<span>:</span></p> <p>{{ ordem.cliente.bairro }}</p>
            <p class="item">Cidade<span>:</span></p> <p>{{ ordem.cliente.cidade }}</p>
            <p class="item">UF<span>:</span></p> <p>{{ ordem.cliente.estado }}</p>
            <p class="item">CEP<span>:</span></p> <p>{{ ordem.cliente.cep }}</p>
        </div>
        <div class="print-cliente-basico">
            <p class="item">Pessoa<span>:</span></p> <p>{{ ordem.cliente.tipo_cliente }}</p>
            {% if ordem.cliente.tipo_cliente == "Física" %}
                <p class="item">CPF<span>:</span></p> <p>{{ ordem.cliente.cpf }}</p>
            {% else %}
                <p class="item">CNPJ<span>:</span></p> <p>{{ ordem.cliente.cnpj }}</p>
            {% endif %}
            {% if ordem.cliente.telefone %}
                <p class="item">Telefone<span>:</span></p> <p>{{ ordem.cliente.telefone }}</p>
            {% endif %}
            {% if ordem.cliente.telefone2 %}
                <p class="item">Telefone<span>:</span></p> <p>{{ ordem.cliente.telefone2 }}</p>
            {% endif %}
            {% if ordem.cliente.telefone3 %}
                <p class="item">Whatsapp<span>:</span></p> <p>{{ ordem.cliente.telefone3 }}</p>
            {% endif %}
            
            
        </div>
        
    </div>
    <div class="print-equipamento">
        <p><strong>Equipamento:</strong> {{ ordem.equipamento.name }}</p>
        <p><strong>Modelo:</strong> {{ ordem.equipamento.modelo }}</p>
        {% if ordem.equipamento.sn %}
        <p><strong>N. Série:</strong> {{ ordem.equipamento.sn }}</p>
        {% endif %}
        <p><strong>Marca:</strong> {{ ordem.equipamento.marca }}</p>

    </div>
    <div class="print-servico">
        <div>
            <h4>Motivo do Chamado:</h4>
            <p>{{ ordem.motivo_chamado }}</p>
        </div>
        <div>
            <h4>Constatado:</h4>
            <p>{{ ordem.constatado }}</p>
        </div>
        <div>
            <h4>Serviço Executado:</h4>
            <p>{{ ordem.serv_executado }}</p>
        </div>
        <div>
            <h4>Material Utilizado:</h4>
            <p>{{ ordem.material }}</p>
        </div>
        <div>
            <h4>Observação:</h4>
            <p>{{ ordem.observacao }}</p>
        </div>
    </div>
    <div class="print-preco">
        <div class="print-preco-items">
            <p><strong>Técnico:</strong> {{sys_tec}}</p>
            <p><strong>Data do Chamado:</strong> {{ ordem.data_chamado }}</p>
        </div>
        <div class="print-preco-items">
            <p><strong>Km Inicial:</strong> {{ ordem.km_inicial }}</p>
            <p><strong>Km Final:</strong> {{ ordem.km_final }}</p>
            <p><strong>Valor por Km:</strong> {{ ordem.unit_km }}</p>
            <p><strong>Km Total:</strong> {{ ordem.valor_km }}</p>
        </div>
        <div class="print-preco-items">
            <p><strong>Valor mão de Obra:</strong> R$ {{ ordem.maod_obra }}</p>
            <p><strong>Valor Deslocamento:</strong> R$ {{ ordem.valor_visita }}</p>
            <p><strong>Valor Km:</strong> R$ {{ ordem.preco_km }}</p>
            <p><strong>Valor Material:</strong> R$ {{ ordem.valor_material }}</p>
            <p class="total"><strong>Valor Total:</strong> R$ {{ ordem.valor_final }}</p>
        </div>
    </div>
    <div class="print-footer">
        <div class="print-footer-top">
            <p>Nome:</p>
            <p>Função:</p>
            <p>data:</p>
        </div>
        <div class="print-footer-main">
            <p><a href="#" id="addSignatureLink">Assinatura do Cliente:</a></p>
            <p>Assinatura do Técnico:</p>
            <img src="{{ ordem.cli_signature }}" alt="">
            <img src="" alt="">
        </div>
    </div>
    <div id="signaturePopup" class="popup">
        
            <div class="popup-content">
                <form action="" id="client-sig" method="POST">
                <canvas id="signatureCanvas"></canvas>
                <input type="hidden" id="cliSignatureValue" name="cli_signature" value="">
                <input type="hidden" id="modelo" name="modelo" value="{{ modelo }}">
                
                <button type="submit" id="saveButton">Concluído</button>
                </form>
                
                <button id="clearButton">Refazer</button>
            </div>
            
        
    </div>
</div>


<script>
const addSignatureLink = document.getElementById("addSignatureLink");
const signaturePopup = document.getElementById("signaturePopup");
const canvas = document.getElementById("signatureCanvas");
const clearButton = document.getElementById("clearButton");
const ctx = canvas.getContext("2d");
let drawing = false;

canvas.width = 300;
canvas.height = 100;

ctx.lineWidth = 1;
ctx.strokeStyle = "black";

addSignatureLink.addEventListener("click", (e) => {
    e.preventDefault(); // Evita o comportamento padrão de navegação do link

    // Exibir o pop-up para adicionar assinatura
    
    signaturePopup.style.display = "block";
});

// ...



canvas.addEventListener("mousedown", () => {
    drawing = true;
    ctx.beginPath();
});

canvas.addEventListener("mousemove", (e) => {
    if (!drawing) return;

    const x = e.offsetX;
    const y = e.offsetY;

    ctx.lineTo(x, y);
    ctx.stroke();
});

canvas.addEventListener("mouseup", () => {
    drawing = false;
});

clearButton.addEventListener("click", () => {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
});

document.getElementById("client-sig").addEventListener("submit", function(event) {
    event.preventDefault();
    const signatureImage = canvas.toDataURL("image/png");
    var hiddensig = document.getElementById("cliSignatureValue");

    hiddensig.value = signatureImage
    
    // Fechar o popup após concluir
    signaturePopup.style.display = "none";

    this.submit();
});


function getTouchPos(evt) {
    const rect = canvas.getBoundingClientRect();
    return {
        x: evt.touches[0].clientX - rect.left,
        y: evt.touches[0].clientY - rect.top
    };
}

canvas.addEventListener("touchstart", (e) => {
    e.preventDefault();
    
    drawing = true;
    const pos = getTouchPos(e);
    ctx.beginPath();
    ctx.moveTo(pos.x, pos.y);
});

canvas.addEventListener("touchmove", (e) => {
    e.preventDefault();
    
    if (!drawing) return;

    const pos = getTouchPos(e);
    ctx.lineTo(pos.x, pos.y);
    ctx.stroke();
});

canvas.addEventListener("touchend", () => {
    drawing = false;
});
</script>