
.printable-ordem {
    background-color: #ffffff;
    color: #000000;
    margin: 0 auto;
    width: 44.8rem;
    height: 32.715rem;
    max-width: 44.8rem;
    max-height: 32.715rem;
    align-self: center;
    border: 1pt solid #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}
.printable-ordem .nodisplay {
    color: #ffffff;
}

.printable-ordem .print-header {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 5px;
    padding: 5px;
    border-bottom: 1pt solid #000000;
}

.printable-ordem .logo {
    width: 100px;
    display: block;
    margin: 0 auto;
    align-self: center;
    
}


.printable-ordem .print-header-info {
    text-align: left;
    
}
.printable-ordem .print-header-info h2 {
    text-align: left;
    font-size: 18px;
    letter-spacing: 1px;
}

.printable-ordem .print-header-info h5 {
    line-height: 1.5;
}

.printable-ordem .print-header-os {
    border-left: 1pt solid var(--g9);
    padding-left: 10px;
    display: grid;
}

.printable-ordem .print-header-os h2{
    line-height: 1.2;
    text-align: left;
}


.printable-ordem .print-cliente {
    display: grid;
    grid-template-columns: 10fr 5fr 6fr;
    gap: 0 3pt;
    padding: 3pt;
    border-bottom: 1pt solid #000000;
    font-size: 9pt;
}

.printable-ordem .print-cliente-basico {
    display: grid;
    grid-template-columns: 6fr 13fr;
    gap: 3px;
}

.printable-ordem .print-cliente-basico p{
    align-self: center;
}

.printable-ordem .print-cliente-basico .item{
    font-weight: bold;
}

.printable-ordem .print-cliente-basico span{
    float: right;
}


.printable-ordem .print-servico {
    height: 180px;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr 2fr;
    gap: 2pt;
    padding: 3pt;
    border-bottom: 1pt solid #000000;
    font-size: 9pt;
}

.printable-ordem .print-equipamento {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 5px;
    padding: 3pt;
    font-size: 9pt;

}

.printable-ordem .print-preco {
    display: grid;
    gap: 5px;
    padding: 3pt;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1pt solid #000000;
    font-size: 9pt;
}
.printable-ordem .print-preco-items {
    display: grid;
    gap: 3px 0px;
}

.printable-ordem .print-preco-items .total {
    font-size: 11pt;
}


.printable-ordem .print-footer {
    padding: 0 3pt;
}
.printable-ordem .print-footer-top {
    display: grid;
    gap: 5px;
    padding-top: 3pt;
    grid-template-columns: 3fr 2fr 1fr;
    font-size: 9pt;
}

.printable-ordem .print-footer-top p{
    font-weight: bold;
}

.printable-ordem .print-footer-main {
    display: grid;
    gap: 5px 10px;
    padding: 0 10px;
    padding-top: 5px;
    grid-template-columns: 1fr 1fr;
    font-size: 9pt;
}

.printable-ordem .print-footer-main .assinatura{
    padding-top: 20px;
    width: 100%;
    border-bottom: 1pt solid #000000;
}
