{% extends 'base.html' %}

{% block title %}
Equipamento
{% endblock%}
{% block content %}
<main class="page ordem">
    <div class="container equip-container">
        <h1>Lista de Equipamentos</h1>
        <div class="search">
            <div class="search-header">
                <form method="post" class="search-header-form" autocomplete="off"  action="{{url_for('ordem_page')}}">
                    <div class="autocomplete">
                        <input id="search-input" type="text" name="ordem-id" placeholder="Pesquisar Ordem">
                        <input type="submit">
                    </div>
                </form>
                <a href="{{ url_for('add_equip') }}" class="btn btn-less btn-add">Adicionar Equipamento</a>
            </div>
            <div class="search-box">
                <ul class="list">
                    {% for equip in equips %}
                    <li class="item">
                        <form method="post" action="{{url_for('equip_page')}}">
                            <input type="hidden" name="equip-id" value="{{ equip.id }}" /> 
                            <a href="#" onclick="this.parentNode.submit();">{{ equip.id }} | {{ equip.name }} | {{ equip.modelo }} | {{ equip.marca }}</a>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="info">
            <h2>Informações do Equipamento</h2>
            {% if data %}
                <div class="operacoes">
                    <a href="{{ url_for('mod_equip', equip_id=data.id) }}" class="btn btn-less">Modificar</a>
                    <a href="{{ url_for('rm_equip', equip_id=data.id) }}" class="btn btn-less">Excluir</a>
                </div>

                <div class="data-box">
                    <p><strong>ID:</strong> <span class="data">{{ data.id}}</span></p>
                    <p><strong>Nome:</strong> <span class="data">{{ data.name or ''}}</span></p>
                    <p><strong>Modelo:</strong> <span class="data">{{ data.modelo or ''}}</span></p>
                    <p><strong>Marca:</strong> <span class="data">{{ data.marca or ''}}</span></p>
                </div>
            {% endif %}
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
var equips = [{% for equip in equips %} "{{ equip.id }} | {{ equip.name }} | {{ equip.modelo }} | {{ equip.marca }}", {% endfor %}];

{% include './script/autocomplete.js' %}
autocomplete(document.getElementById("search-input"), equips);
</script>
{% endblock %}