<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block css %}
        <link rel="stylesheet" href="{{ url_for('css') }}">
    {% endblock %}
    {% block head %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <a href="{{ url_for('index') }}" class="header-logo">O.S.</a>
            
            
                {% if current_user.is_authenticated %}
                <ul class="header-tools-container">
                    <li><a href="{{ url_for('ordem_page') }}"><img src="{{ url_for('static', filename='./img/ordem.svg', _external=True) }}" alt="order ico"></a></li>
                    <li><a href="{{ url_for('client_page') }}"><img src="{{ url_for('static', filename='./img/client.svg', _external=True) }}" alt="client ico"></a></li>
                    <li><a href="{{ url_for('equip_page') }}"><img src="{{ url_for('static', filename='./img/equipamento.svg', _external=True) }}" alt="equip ico"></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='./img/peca.svg', _external=True) }}" alt="peca ico"></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='./img/fornecedor.svg', _external=True) }}" alt="fornecedor ico"></a></li>
                    <li><a href="#"><img src="{{ url_for('static', filename='./img/tecnico.svg', _external=True) }}" alt="tecnico ico"></a></li>
                </ul>
                <div class="header-nav-container">
                    <ul class="header-nav">
                        <li class="nav-item nav-user"><a class="nav-link"><strong>{{ current_user.name }}</strong></a></li>
                        <li class="nav-item nav-user"><a class="nav-link" href="{{ url_for('logout_page') }}">Sair</a></li>
                    </ul>
                </div>
                {% else %}
                <div class="header-nav-container">
                    <ul class="header-nav">
                        <li class="nav-item nav-user"><a class="nav-link" href="{{ url_for('login_page') }}">Login</a></li>
                        <!-- <li class="nav-item nav-user"><a class="nav-link" href="{{ url_for('register_page') }}">Register</a></li> -->
                    </ul>
                </div>
                {% endif %}
            
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    <button type="button" class="btn close-btn" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span>{{ message }}</span>
                </div>
            {% endfor%}
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
</body>
</html>

<script src="{{ url_for('script') }}">
</script>
<script>
    
    closeButtons = document.querySelectorAll(".alert .close-btn");
    
    for (closeButton of closeButtons) {
        closeButton.addEventListener("click", function() {
            alertDiv = this.closest(".alert");
		    alertDiv.remove();
        }
    );
}
</script>