<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', _external=True) }}">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <a href="{{ url_for('home_page') }}">Logo</a>
            <div class="header-nav-container">
                <ul class="header-nav">
                    <li class="nav-item nav-user"><a href="{{ url_for('login_page') }}">Login</a></li>
                    <li class="nav-item nav-user"><a href="{{ url_for('register_page') }}">Register</a></li>
                </ul>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>