{% extends 'base.html' %}

{% block title %}
Clientes
{% endblock %}

{% block content %}
<main class="client">
    <div class="container client-container">
        <h1 style="margin-bottom: 40px;">Lista de Clientes</h1>
        <div class="client-search">
            <div class="client-box-header">
                <form method="post" autocomplete="off"  action="{{url_for('client_page')}}">
                    <div class="autocomplete">
                        <input id="myInput" type="text" name="client-name" placeholder="Pesquisar Cliente">
                        <input type="submit">
                    </div>
                </form>
                <a href="{{ url_for('cadastro_cliente') }}" class="btn btn-less add-client">Adicionar Cliente</a>
            </div>
            <div class="clientes-box">
                <ul class="clientes-list">
                    {% for cliente in clientes %}
                    <li class="clientes-item">
                        
                        <form method="post" action="{{url_for('client_page')}}">
                            <input type="hidden" name="client-id" value="{{ cliente.id }}" /> 
                            <a href="#" class="cliente-nome exibir-info" onclick="this.parentNode.submit();">{{ cliente.name }}</a>
                        </form>                  
                        
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
    <div class="info-cliente">
        <h2>Informações do Cliente</h2>
        {% if client_data %}
        <div class="client-operations">
            <a href="{{ url_for('modificar_cliente', client_id=client_data.id) }}" class="btn btn-less">Modificar</a>
            <a href="{{ url_for('excluir_cliente', client_id=client_data.id) }}" class="btn btn-less">Excluir</a>
        </div>
        <div class="client-data-container">
            <p><strong>ID:</strong> <span class="cliente-data">{{ client_data.id}}</span></p>
            <p><strong>Nome:</strong> <span class="cliente-data">{{ client_data.name }}</span></p>
            <p><strong>Tipo Cliente:</strong> <span class="cliente-data">{{ client_data.tipo_cliente}}</span></p>
            <p><strong>Razão Social:</strong> <span class="cliente-data"></span>{{ client_data.razao_social or ' '}}</p>
            <p><strong>Telefone:</strong> <span class="cliente-data"></span>{{ client_data.telefone or ' '}}</p>
            <p><strong>Telefone 2:</strong> <span class="cliente-data"></span>{{ client_data.telefone2 or ' '}}</p>
            <p><strong>Endereço:</strong> <span class="cliente-data">{{ client_data.endereco or ' '}}</span></p>
            <p><strong>Número:</strong> <span class="cliente-data">{{ client_data.num_endereco or ' '}}</span></p>
            <p><strong>Bairro:</strong> <span class="cliente-data">{{ client_data.bairro or ' '}}</span></p>
            <p><strong>Cidade:</strong> <span class="cliente-data">{{ client_data.cidade or ' '}}</span></p>
            <p><strong>Estado:</strong> <span class="cliente-data">{{ client_data.estado or ' '}}</span></p>
            <p><strong>Inscrição Estadual:</strong> <span class="cliente-data"></span>{{ client_data.insc_estadual or ' '}}</p>
            <p><strong>Inscrição Municipal:</strong> <span class="cliente-data"></span>{{ client_data.insc_municipal or ' '}}</p>
            <p><strong>CPF:</strong> <span class="cliente-data"></span>{{ client_data.cpf or ' '}}</p>
            <p><strong>RG:</strong> <span class="cliente-data"></span>{{ client_data.rg or ' '}}</p>
            <p><strong>CNPJ:</strong> <span class="cliente-data"></span>{{ client_data.cnpj or ' '}}</p>
        </div>
        {% else %}
            
        {% endif %}
    
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
var countries = [{% for cliente in clientes %} "{{ cliente.name }}", {% endfor %}];

{% include './script/autocomplete.js' %}
autocomplete(document.getElementById("myInput"), countries);
</script>
{% endblock %}