{% extends 'base.html' %}

{% block title %}
Clientes
{% endblock %}

{% block content %}
<main class="client">
    <div class="container client-container">
        <h1>Lista de Clientes</h1>
    <div class="clientes-box">
        <ul class="clientes-list">
            {% for cliente in clientes %}
            <li class="clientes-item">
                
                <form method="post" action="{{url_for('client_page')}}">
                    <input type="hidden" name="client-id" value="{{ cliente.id }}" /> 
                    <span class="cliente-nome">{{ cliente.name }}</span> <a href="#" class="exibir-info" onclick="this.parentNode.submit();">Info</a>
                    <a href="{{ url_for('modificar_cliente', client_id=cliente.id) }}">Modificar</a>
                    <a href="{{ url_for('excluir_cliente', client_id=cliente.id) }}">Excluir</a>
                </form>                  
                  
                
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="info-cliente">
        <h2>Informações do Cliente</h2>
        {% if client_data %}
        <div class="client-data-container">
            <p><strong>ID:</strong> <span class="cliente-data">{{ client_data.id}}</span></p>
            <p><strong>Tipo Cliente:</strong> <span class="cliente-data">{{ client_data.tipo_cliente}}</span></p>
            <p><strong>Nome:</strong> <span class="cliente-data">{{ client_data.name }}</span></p>
            <p><strong>Endereço:</strong> <span class="cliente-data">{{ client_data.endereco or ' '}}</span></p>
            <p><strong>Bairro:</strong> <span class="cliente-data">{{ client_data.bairro or ' '}}</span></p>
            <p><strong>Cidade:</strong> <span class="cliente-data">{{ client_data.cidade or ' '}}</span></p>
            <p><strong>Estado:</strong> <span class="cliente-data">{{ client_data.estado or ' '}}</span></p>
            <p><strong>CEP:</strong> <span class="cliente-data"></span>{{ client_data.cep or ' '}}</p>
            <p><strong>Telefone:</strong> <span class="cliente-data"></span>{{ client_data.telefone or ' '}}</p>
            <p><strong>Telefone 2:</strong> <span class="cliente-data"></span>{{ client_data.telefone2 or ' '}}</p>
            <p><strong>Razão Social:</strong> <span class="cliente-data"></span>{{ client_data.razao_social or ' '}}</p>
            <p><strong>Email:</strong> <span class="cliente-data"></span>{{ client_data.email or ' '}}</p>
            <p><strong>Inscrição Estadual:</strong> <span class="cliente-data"></span>{{ client_data.insc_estadual or ' '}}</p>
            <p><strong>Inscrição Municipal:</strong> <span class="cliente-data"></span>{{ client_data.insc_municipal or ' '}}</p>
        </div>
        {% else %}
            
        {% endif %}
    </div>
    <a href="{{ url_for('cadastro_cliente') }}">Adicionar Cliente</a>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}