{% extends 'base.html' %}

{% block title %}
Clientes
{% endblock %}

{% block content %}
<main class="client">
    <div class="container client-container">
        <h1 style="margin-bottom: 40px;">Lista de Clientes</h1>
        <div class="client-search">
            <div class="client-box-header">
                <form method="post" autocomplete="off"  action="{{url_for('client_page')}}">
                    <div class="autocomplete">
                        <input id="myInput" type="text" name="client-name" placeholder="Pesquisar Cliente">
                        <input type="submit">
                    </div>
                </form>
                <a href="{{ url_for('cadastro_cliente') }}" class="btn btn-less add-client">Adicionar Cliente</a>
            </div>
            <div class="clientes-box">
                <ul class="clientes-list">
                    {% for cliente in clientes %}
                    <li class="clientes-item">
                        
                        <form method="post" action="{{url_for('client_page')}}">
                            <input type="hidden" name="client-id" value="{{ cliente.id }}" /> 
                            <a href="#" class="cliente-nome exibir-info" onclick="this.parentNode.submit();">{{ cliente.name }}</a>
                            
                        </form>                  
                        
                        
                    </li>
                    {% endfor %}
                </ul>
            </div>
    </div>
    <div class="info-cliente">
        <h2>Informações do Cliente</h2>
        {% if client_data %}
        <div class="client-operations">
            <a href="{{ url_for('modificar_cliente', client_id=client_data.id) }}" class="btn btn-less">Modificar</a>
            <a href="{{ url_for('excluir_cliente', client_id=client_data.id) }}" class="btn btn-less">Excluir</a>
        </div>
        <div class="client-data-container">
            <p><strong>ID:</strong> <span class="cliente-data">{{ client_data.id}}</span></p>
            <p><strong>Nome:</strong> <span class="cliente-data">{{ client_data.name }}</span></p>
            <p><strong>Tipo Cliente:</strong> <span class="cliente-data">{{ client_data.tipo_cliente}}</span></p>
            <p><strong>Razão Social:</strong> <span class="cliente-data"></span>{{ client_data.razao_social or ' '}}</p>
            <p><strong>Telefone:</strong> <span class="cliente-data"></span>{{ client_data.telefone or ' '}}</p>
            <p><strong>Telefone 2:</strong> <span class="cliente-data"></span>{{ client_data.telefone2 or ' '}}</p>
            <p><strong>Endereço:</strong> <span class="cliente-data">{{ client_data.endereco or ' '}}</span></p>
            <p><strong>Bairro:</strong> <span class="cliente-data">{{ client_data.bairro or ' '}}</span></p>
            <p><strong>Cidade:</strong> <span class="cliente-data">{{ client_data.cidade or ' '}}</span></p>
            <p><strong>Estado:</strong> <span class="cliente-data">{{ client_data.estado or ' '}}</span></p>
            <p><strong>Inscrição Estadual:</strong> <span class="cliente-data"></span>{{ client_data.insc_estadual or ' '}}</p>
            <p><strong>Inscrição Municipal:</strong> <span class="cliente-data"></span>{{ client_data.insc_municipal or ' '}}</p>
            <p><strong>CPF:</strong> <span class="cliente-data"></span>{{ client_data.cpf or ' '}}</p>
            <p><strong>RG:</strong> <span class="cliente-data"></span>{{ client_data.rg or ' '}}</p>
            <p><strong>CNPJ:</strong> <span class="cliente-data"></span>{{ client_data.cnpj or ' '}}</p>
        </div>
        {% else %}
            
        {% endif %}
    
</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
var countries = [{% for cliente in clientes %} "{{ cliente.name }}", {% endfor %}];

    function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
          /*execute a function when someone clicks on the item value (DIV element):*/
              b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/
              inp.value = this.getElementsByTagName("input")[0].value;
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
      x[i].parentNode.removeChild(x[i]);
    }
  }
}
/*execute a function when someone clicks in the document:*/
document.addEventListener("click", function (e) {
    closeAllLists(e.target);
});
} 

autocomplete(document.getElementById("myInput"), countries);
</script>
{% endblock %}