{% extends 'base.html' %}

{% block title %}
Ordem
{% endblock %}

{% block content %}
<main class="ordem">
    <div class="container ordem-container">
        <h1>Lista de Ordens de serviço</h1>
        <div class="page-search">
            <div class="ordem-search-header">
                <form method="post" class="ordem-search-header-form" autocomplete="off"  action="{{url_for('ordem_page')}}">
                    <div class="autocomplete">
                        <input id="search-input" type="text" name="ordem-id" placeholder="Pesquisar Ordem">
                        <input type="submit">
                    </div>
                </form>
                <a href="{{ url_for('add_ordem') }}" class="btn btn-less add-client">Adicionar Ordem</a>
            </div>
            <div class="ordem-search-box">
                <ul class="ordem-list">
                    {% for ordem in ordens %}
                    <li class="ordem-item">
                        <form method="post" action="{{url_for('ordem_page')}}">
                            <input type="hidden" name="ordem-id" value="{{ ordem.id }}" /> 
                            <a href="#" onclick="this.parentNode.submit();">{{ ordem.id }} | {{ ordem.desc }}</a>
                        </form>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="info-ordem">
            <h2>Informações da Ordem</h2>
            {% if ordem_data %}
                <div class="operacoes-ordem">
                    <a href="{{ url_for('mod_ordem', ordem_id=ordem_data.id) }}" class="btn btn-less">Modificar</a>
                    <a href="{{ url_for('print_ordem', ordem_id=ordem_data.id) }}" class="btn btn-success btn-less">Imprimir</a>
                    <a href="{{ url_for('rm_ordem', ordem_id=ordem_data.id) }}" class="btn btn-less">Excluir</a>
                </div>

                <div class="ordem-data-box">
                    <p><strong>ID:</strong> <span class="ordem-data">{{ ordem_data.id}}</span></p>
                    <p><strong>Cliente:</strong> <span class="ordem-data">
                        {% if ordem_data.cliente %}
                            {{ ordem_data.cliente.id }} | {{ ordem_data.cliente.name }} 
                        {% endif %}
                    </span></p>
                    <p><strong>Equipamento:</strong> <span class="ordem-data">
                        {% if ordem_data.equipamento %}
                            {{ ordem_data.equipamento.id }} | {{ ordem_data.equipamento.name }} 
                        {% endif %}
                    </span></p>
                    <p><strong>Descrição:</strong> <span class="ordem-data">{{ ordem_data.desc or ''}}</span></p>
                    <p><strong>Tipo de Ordem:</strong> <span class="ordem-data">{{ ordem_data.tipo_ordem or ''}}</span></p>
                    <p><strong>Data da OS:</strong> <span class="ordem-data">{{ ordem_data.data_os or ''}}</span></p>
                    <p><strong>Data do Chamado:</strong> <span class="ordem-data">{{ ordem_data.data_chamado or ''}}</span></p>
                    <p><strong>Motivo do Chamado:</strong> <span class="ordem-data">{{ ordem_data.motivo_chamado or ''}}</span></p>
                    <p><strong>Status do Serviço:</strong> <span class="ordem-data">{{ ordem_data.status_serviço or ''}}</span></p>
                    <p><strong>Observações:</strong> <span class="ordem-data">{{ ordem_data.observacao or ''}}</span></p>
                    <p><strong>Serviço Executado:</strong> <span class="ordem-data">{{ ordem_data.serv_executado or ''}}</span></p>
                    <p><strong>Material Utilizado:</strong> <span class="ordem-data">{{ ordem_data.material or ''}}</span></p>
                    <p><strong>Valor da Visita:</strong> <span class="ordem-data">{{ ordem_data.valor_visita or ''}}</span></p>
                    <p><strong>Valor da Km:</strong> <span class="ordem-data">{{ ordem_data.valor_km or ''}}</span></p>
                    <p><strong>Valor do Material:</strong> <span class="ordem-data">{{ ordem_data.valor_material or ''}}</span></p>
                    <p><strong>Km Inicial:</strong> <span class="ordem-data">{{ ordem_data.km_inicial or ''}}</span></p>
                    <p><strong>Km Final:</strong> <span class="ordem-data">{{ ordem_data.km_final or ''}}</span></p>
                    <p><strong>Valor Final:</strong> <span class="ordem-data">{{ ordem_data.valor_final or ''}}</span></p>
                </div>
            {% endif %}
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
var ordens = [{% for ordem in ordens %} "{{ ordem.id }}", {% endfor %}];

{% include './script/autocomplete.js' %}
autocomplete(document.getElementById("search-input"), ordens);
</script>
{% endblock %}