.client-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
}
.client .client-search {
    grid-row: 2;
    grid-column: 1;
}
.client .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: flex;
}

.client .autocomplete input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }
.client .autocomplete input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
.client .autocomplete input[type=submit] {
  background-color: var(--g6);
  color: #fff;
}
.client .autocomplete .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  
  top: 100%;
  left: 0;
  right: 0;
}

.client .autocomplete .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--g13);
  border-bottom: 1px solid var(--g8);
}

.client .autocomplete .autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: var(--g12);
}

.client .autocomplete .autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: var(--g7) !important;
  color: var(--g13);
}

.client .clientes-box {
    max-height: 300px; /* Altura máxima da caixa */
    overflow-y: auto; /* scroll vertical caso o conteúdo ultrapasse a altura máxima */
    border: 1px solid var(--g10); 
    padding: 40px 20px; 
    background-color: var(--g13);
    border-radius: 10px;
}
/* Estilo da lista de clientes */
.client .clientes-list {
    list-style: none; /* Remove os bullets padrão da lista */
    padding: 0;
}
/* Estilo dos itens da lista */
.client .clientes-item {
    margin-bottom: 10px;
}

.client .info-cliente {
    grid-row: 2;
    grid-column: 2;
}

.info-cliente .client-data-container {
    display: grid;
    gap: 10px;
    padding: 20px;
    background-color: var(--g11);
    border-radius: 10px;
}
.info-cliente .client-data-container span {
    padding-left: 5px;
}

.addclient-container {
    grid-template-columns: 1fr 2fr;
}

.addclient .form-addclient {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.addclient .form-addclient .btn {
    grid-column: 1 / -1;
}

.addclient .form-addclient .form-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content:end;
    gap: 20px;
    align-items: center;
}

.addclient .form-addclient .form-item label {
    text-align: right;
}

.info-cliente .client-operations {
    padding: 20px 40px;
    display: flex;
    gap: 20px;
}

.client-box-header {
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 0px 20px;
    padding: 20px 0px;
}
.client-search .client-box-header .add-client {
    grid-row: 1;
    grid-column: 2;
}


.client .cliente-nome {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--g1);
    font-size: 1.128rem;
    border-bottom: 1px solid var(--g11);
}