:root {
    --g1: #141414;
    --g2: #1d1d1d;
    --g3: #303030;
    --g4: #3d3d3d;
    --g5: #525252;
    --g6: #696969;
    --g7: #7e7d7d;
    --g8: #929292;
    --g9: #a5a5a5;
    --g10: #b6b6b6;
    --g11: #cacaca;
    --g12: #e0e0e0;
    --g13: #f7f7f7;
}

body {
    background: var(--g12);
    color: var(--g2);
    margin: 0px;
    font-family: 'Ubuntu', Arial, sans-serif;
}

.container {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
}

h1, h2, h3, p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: var(--g13);
    color: #141414;
    display: inline-block;
    padding: 10px 20px;
    margin: auto;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-less {
    font-size: 0.8rem;
    background-color: var(--g13);
}

.alert {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid transparent;
    border-radius: .25rem;
    border-color: #bee5eb;
    padding: 5px;
}
.alert .btn {
    background-color: transparent;
    color: #0c5460;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 1.2rem;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.alert-success .btn {
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.alert-danger .btn {
    color: #721c24;
}