.ordem .ordem-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
}

.ordem h1 {
    grid-column: 1 / -1;
    margin-bottom: 40px;
}

.ordem .ordem-search {
    grid-column: 1;
}

.ordem .ordem-search-header {
    display: grid;
    gap: 20px;
    padding: 20px;
    height: 40px;
    margin-bottom: 40px;
}

.ordem .ordem-search-header-form {
    margin: 0px;
    padding: 0px;
    grid-column: 1;
}

.ordem .ordem-search-header .btn{
    grid-column: 2;
}
.ordem .ordem-search-header-form .autocomplete {
    position: relative;
    display: flex;
}

.ordem .ordem-search-header-form .autocomplete input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

.ordem .ordem-search-header-form .autocomplete input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
.ordem .ordem-search-header-form .autocomplete input[type=submit] {
    background-color: var(--g6);
    color: #fff;
}

.ordem .ordem-search-header-form .autocomplete .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    
    top: 100%;
    left: 0;
    right: 0;
}
  
.ordem .ordem-search-header-form .autocomplete .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--g13);
    border-bottom: 1px solid var(--g8);
}
  
.ordem .ordem-search-header-form .autocomplete .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: var(--g12);
}
  
.ordem .ordem-search-header-form .autocomplete .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: var(--g7) !important;
    color: var(--g13);
}

.ordem .ordem-search-box {
    max-height: 300px; /* Altura máxima da caixa */
    overflow-y: auto; /* scroll vertical caso o conteúdo ultrapasse a altura máxima */
    border: 1px solid var(--g10); 
    padding: 40px 20px; 
    background-color: var(--g13);
    border-radius: 10px;
}

.ordem .ordem-search-box .ordem-list {
    list-style: none; /* Remove os bullets padrão da lista */
    padding: 0;
}

.ordem .ordem-search-box .ordem-item {
    margin-bottom: 10px;
}

.ordem .ordem-search-box .ordem-item a{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--g1);
    font-size: 1.128rem;
    border-bottom: 1px solid var(--g11);
}

.ordem .info-ordem {
    grid-column: 2;
    display: grid;
    gap: 40px 0px;
}
.ordem .info-ordem .operacoes-ordem {
    display: flex;
    padding: 0px 60px;
}

.ordem .info-ordem .ordem-data-box {
    display: grid;
    gap: 10px;
    padding: 20px;
    background-color: var(--g11);
    border-radius: 10px;
}

.ordem .info-ordem .ordem-data-box .ordem-data {
    padding-left: 5px;
}

.add-ordem .add-ordem-container {
    padding: 60px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px 60px

}

.add-ordem .form-add-ordem {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.add-ordem .form-add-ordem input,
.add-ordem .form-add-ordem select{
    font-size: 0.9rem;
}

.add-ordem .form-add-ordem-elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 40px;
}
.add-ordem .form-add-ordem-elements .form-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: end;
    gap: 10px;
    align-items: center;
}

.add-ordem .form-add-ordem-elements .form-item input {
    width: 100%;
}

.add-ordem .form-add-ordem-options {
    padding: 40px 60px;
    display: flex;
    gap: 0px 20px;
}

.add-ordem .form-add-ordem-elements .autocomplete {
    position: relative;
}
.add-ordem .form-add-ordem-elements .autocomplete input {
    border: 1px solid var(--g10);
    background-color: var(--g13);
    padding: 5px;
    text-align: center;
}

.add-ordem .form-add-ordem-elements .autocomplete input[type="text"] {
    background-color: var(--g13);
    width: 30%;
}



.add-ordem .form-add-ordem-elements .autocomplete .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    
    top: 100%;
    left: 0;
    right: 0;
}
  
.add-ordem .form-add-ordem-elements .autocomplete .autocomplete-items div {
    padding: 5px;
    cursor: pointer;
    background-color: var(--g13);
    border-bottom: 1px solid var(--g8);
}
  
.add-ordem .form-add-ordem-elements .autocomplete .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: var(--g12);
}
  
.add-ordem .form-add-ordem-elements .autocomplete .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: var(--g7) !important;
    color: var(--g13);
}

.print-ordem-container {
    grid-template-columns: 1fr;
    gap: 20px;
}

.print-ordem .btn {
    display: block;
    min-width: 0;
    padding: 10px;
    
}
