.page .container {
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
}

.page h1 {
    grid-column: 1 / -1;
    margin-bottom: 40px;
}

.page .search {
    grid-column: 1;
}

.page .search-header {
    display: grid;
    gap: 20px;
    padding: 20px;
    height: 40px;
    margin-bottom: 40px;
}

.page .search-header-form {
    margin: 0px;
    padding: 0px;
    grid-column: 1;
}

.page .search-header .btn{
    grid-column: 2;
}
.page .search-header-form .autocomplete {
    position: relative;
    display: flex;
}

.page .search-header-form .autocomplete input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

.page .search-header-form .autocomplete input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}
.page .search-header-form .autocomplete input[type=submit] {
    background-color: var(--g6);
    color: #fff;
}

.page .search-header-form .autocomplete .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    
    top: 100%;
    left: 0;
    right: 0;
}
  
.page .search-header-form .autocomplete .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--g13);
    border-bottom: 1px solid var(--g8);
}
  
.page .search-header-form .autocomplete .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: var(--g12);
}
  
.page .search-header-form .autocomplete .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: var(--g7) !important;
    color: var(--g13);
}

.page .search-box {
    max-height: 300px; /* Altura máxima da caixa */
    overflow-y: auto; /* scroll vertical caso o conteúdo ultrapasse a altura máxima */
    border: 1px solid var(--g10); 
    padding: 40px 20px; 
    background-color: var(--g13);
    border-radius: 10px;
}

.page .search-box .list {
    list-style: none; /* Remove os bullets padrão da lista */
    padding: 0;
}

.page .search-box .item {
    margin-bottom: 10px;
}

.page .search-box .item a{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--g1);
    font-size: 1.128rem;
    border-bottom: 1px solid var(--g11);
}

.page .info {
    grid-column: 2;
    display: grid;
    gap: 40px 0px;
}
.page .info .operacoes {
    display: flex;
    padding: 0px 60px;
}

.page .info .data-box {
    display: grid;
    gap: 10px;
    padding: 20px;
    background-color: var(--g11);
    border-radius: 10px;
}

.page .info .data-box .data {
    padding-left: 5px;
}

@media (max-width: 800px) {
    .page .container {
        grid-template-columns: 1fr;
    }

    .page .info {
        grid-column: 1;
    }
}